* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(to right, #e7a66a, #f3d6b9);
  color: white;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 80px;
}

.logo {
  font-weight: bold;
  font-size: 20px;
  color: #1a0d0a;
}

.logo span {
  margin-left: 5px;
}

nav a {
  margin: 0 20px;
  text-decoration: none;
  color: #1a0d0a;
  font-size: 18px;
}

.signup {
  background: #1a0d0a;
  color: white;
  padding: 10px 25px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px;
}

.left {
  width: 50%;
}

.left h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.left h2 {
  font-size: 30px;
  margin-bottom: 30px;
  color: white;
}

.left h2 span {
  color: #1a0d0a;
  font-weight: bold;
}

.left p {
  width: 80%;
  line-height: 1.6;
  color: #3b2b25;
  margin-bottom: 40px;
}

.price {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 40px;
}

.socials {
  display: flex;
  gap: 15px;
}

.circle {
  width: 45px;
  height: 45px;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.right {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right img {
  width: 350px;
  filter: drop-shadow(0 30px 20px rgba(0,0,0,0.3));
}

.arrow {
  position: absolute;
  background: transparent;
  border: 2px solid white;
  color: white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
}

.left-arrow {
  left: 50px;
}

.right-arrow {
  right: 50px;
}

body {
  transition: 0.5s ease;
} 

.right img {
  transition: 0.4s ease;
}